<div id="nav-panel">
    <div id="nav-buttons">
        <table>
            <tr>
                <td class="nav-link"><a href="/">Home</a></td>
            </tr>

            <tr>
                <td><div class="horizontalLine"></div></td>
            </tr>

            <tr>
                <td class="nav-link"><a href="/newPost">Make a Post</a></td>
            </tr>

            <tr>
                <td><div class="horizontalLine"></div></td>
            </tr>
            
            <tr>
                <td class="nav-link"><a href="/profiles/<%=user%>">Profile</a></td>
            </tr>

            <tr>
                <td><div class="horizontalLine"></div></td>
            </tr>

            <tr>
                <td class="nav-link"><a href="/register">Sign Up</a></td>
            </tr>

            <tr>
                <td><div class="horizontalLine"></div></td>
            </tr>

            <tr>
                <td class="nav-link"><a href="/login">Login</a></td>
            </tr>
        </table>
    </div>
</div>