<div id="sticky-header">
    <div id="logo-pic">

    </div>

    <div id="logo-name">
        <a href="/">
        <p>ShoWoof</p>
        </a>
    </div>

    <div class="search-bar-container">
        <div class="search-icon"></div>
        <input type="text" class="search-input" placeholder="Search...">
    </div>
</div>