<div id="sticky-header">
    <div id="logo-pic">

    </div>

    <div id="logo-name">
        <a href="/">
        <p>ShoWoof</p>
        </a>
    </div>

    <div class="search-bar-container">
        <div class="search-icon"></div>
        <form action="/search" class="search__form" role="search" method="POST">
            <input type="search" aria-label="Search" class="search-input" name="searchTerm" placeholder="Search...">
        </form>
    </div>
</div>