:root {
    --sticky_height: 50px;
    --container_pad: 15px;
    --nav_width: 230px;
    --content_paadding: 75px;
}

body {
    background-color: rgb(246, 241, 241);
    
    margin: 0;
    width: 100%;
    height: 2000px
}

#sticky-header {
    position: fixed;
    top: 0px;

    width: 100%;
    height: var(--sticky_height);
    background-color: white;

    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    align-items: center;
}

#logo-pic {
    flex-basis: 40px;
    height: 40px;

    background-color: lightblue;

    border-radius: 25px;
}

#logo-name p{
    font-family: Verdana;
    font-size: 20px;

    margin-left: 10px;
}

#nav-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    align-self: flex-start;

    background-color: white;
    width: var(--nav_width);
    height: 100%;

    position: fixed;
    top: var(--sticky_height);
    left: 0px;

    padding: var(--container_pad) var(--container_pad) var(--container_pad) var(--container_pad);
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

#content-container {
    margin-left: calc(var(--nav_width) + (var(--container_pad) * 2));
    margin-top: var(--sticky_height);
    width: calc(100% - (var(--nav_width) + (var(--container_pad) * 2) + (var(--content_paadding) * 2)));

    display: flex;
    flex-direction: column;

    padding-top: 10px;
    padding-left: var(--content_paadding);
    padding-right: var(--content_paadding);

}

#top-posts-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.top-posts {
    width: 24%;
    height: 150px;

    border-radius: 15px;

    /* delete this */
    background-color: peachpuff;
}

#feed-container {
    width: 100%;

    display: flex;

    flex-direction: row;

    justify-content: space-between;
}

#login-container {
    width: calc(22% - var(--container_pad) * 2);
}

#all-posts-container {
    width: calc(75% - (var(--container_pad) * 2));

    display: flex;

    flex-direction: column;
}

.post-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

#login-container {
    height: 100px;
}

.post-container, #login-container {
    display: flex;

    border: gainsboro solid 1px;

    background-color: rgb(250, 250, 250);

    padding: calc(var(--container_pad) * 1.3) var(--container_pad) calc(var(--container_pad) * 1.3) var(--container_pad);

    font-family: Verdana;
    font-size: 13px;
}

PostTitle {
    font-weight: bold;
    font-size: 15px;
}