:root {
    --container_pad: 15px;
    --content_padding: 75px;
    --border-setting: 1px solid gainsboro;
    --vote-content-width: 45px;
    --meta-post-color: rgb(177, 177, 177);
    --post-container-top-padding: calc(var(--container_pad) - 5px);
}

body{
    padding-top: 4%;
    background-color: #fff4d48d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.post, .comments{
    width: 60%;
    height: auto;
    border: var(--border-setting);
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FEFAE0;
}

.post{
    display:flex;
    flex-direction: row;
    border-bottom: none;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-top: var(--post-container-top-padding);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #E9EDC9;;
}

.votes div.upvote{
    background-image:url(post_elements/upvote.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.votes div.downvote{
    background-image:url(post_elements/downvote.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.votes div.upvote:hover{
    background-image:url(post_elements/upvoteColored.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.votes div.downvote:hover{
    background-image:url(post_elements/downvoteColored.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}


.numberOfVotes{
    align-items: center;
    font-size:medium;
    width: fit-content;
    margin: 5px 0px;
    padding: 0px 2.5px;
}

.contentWhole{
    padding: 1% 3% 1% 3%;
    width:100%;
}

.content img{
    width: 100%;
    max-height: 100%;
    display: block;
}

.postHead{
    display: flex;
    flex-direction: column;
}

.username{
    display: inline;
}

.datePosted{
    display: inline;
}

.firstBar{
    font-size:12px;
    display: flex;
    flex-direction: row;
    font-weight: 100;
    color:gray;
}

.caption{
    font-size: 1.75em;
    font-weight:600;
}

.firstbar, .caption{
    line-height: 1.4em;
}

.postToolBar{
    display: flex;
    flex-direction: row;

    padding-top: 5px;

    font-weight: lighter;
    font-size: 12px;
    color: var(--meta-post-color);

    align-items: center;
}

.postToolBar a{
    color: var(--meta-post-color);
    text-decoration: none;
}
.postToolBar a:visited{
    text-decoration: none;
}

.postToolBar img, .commentReply img, .commentEdit img{
    object-fit: contain;
    height: 17px;
}

.commentLabel{
    font-size: small;
    display: flex;
    flex-direction: row;
    line-height: 1rem;
}

.userComment{
    display: flex;
    flex-direction: column;
}

.commentUsername{
    color:blue;
}

.userCommentCommands{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textarea{
    width:auto;
    height:8rem;
    font-size: 0.875rem;
    padding: 0 0.5em;
    border-radius: 5px;
    resize:none;
    margin-bottom: 3px;
}

.commentButton{
    margin: 5px 5px;
    border-radius: 25%;
    color: gray;
    font-weight: 600;
}

/*---------------Comments---------------*/

.commentBase{
    display:flex;
    flex-direction: row;
    margin: 5px 5px;
    margin-bottom: 15px;

}

.commentText{
    font-size: 0.9em;
}

.commenterDetails{
    display: flex;
    flex-direction: row;
}

.commenterDetails div{
    padding-left: 5px;
}

.commenterImg{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-image: url(profile_pics/profileTest.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--border-setting);
}

.commenterUser, .commentDate{
    font-size: small;
    height: 1.5rem;
    padding-top: 5px;

}

.commentDate{
    color:gray;
}

.commentCommandBar{
    display:flex;
    flex-direction: row;
    font-size: 0.7em;
    padding-top: 10px;
}

.commentVote{
    display:flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px 2px;
}

.commentReply, .commentEdit{
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px 2px;
}

div.commentToolText{
    padding-top: 5px 5px;
}

.commentCommandBar div.upvote{
    background-image:url(post_elements/upvote.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.commentCommandBar div.downvote{
    background-image:url(post_elements/downvote.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.commentCommandBar div.upvote:hover{
    background-image:url(post_elements/upvoteColored.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.commentCommandBar div.downvote:hover{
    background-image:url(post_elements/downvoteColored.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}