html,body {
    height: 100%;
    margin: 0;
    
}
main{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 100%;
    background-color: greenyellow;
}
footer{
    height:25%;
    background-color: indigo;
}

#login{
    margin: auto;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-size: 45px;
    padding: 5px;
    margin: 5px;
    color:pink
}

#loginbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    background-color:pink;
}

#logintext{
    font-size: 20px;
    padding-top:5px;
    padding-bottom: 10px;
}
#email, #pass{
    font-size: 16px;
    padding: 15px;
    width: 350px;
    border-radius: 5px;
    border: solid 1px rgb(93,93,93);
    margin: 5px;
}

#loginbutton{
    font-size: 20px;
    padding: 15px;
    width: 382px;
    border-radius: 5px;
    border:0px;
    margin: 5px;
    background-color: blue;
    color: white;
    font-weight: bolder;
}

#loginbutton:hover{
    background-color: rgb(0, 0, 228);
}

#breakline{
    display: flex;
    flex-direction: row;
}

#line{
    border-top: 1px solid rgb(80, 80, 78);
    width: 163px;
    margin-top:10px;
}

#longline{
    border-top: 1px solid rgb(80, 80, 78);
    width: 105%;
    margin-top:5px;
    margin-bottom:10px;
}

#or{
    margin-left: 20px;
    margin-right: 20px;
}

#account{
    font-size: 16px;
    padding: 10px 15px;
    width: 200px;
    border-radius: 5px;
    border:0px;
    margin: 5px;
    background-color: green;
    color: white;
    font-weight: bolder;
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
}

#account:hover{
    background-color: rgb(0, 101, 0);
}

.flex, .flex-2{
    display: flex;
    flex-direction: row;
}
.flex-2{
    padding-top: 5px;
    padding-bottom: 10px;
    align-self: flex-start;
}
.text {
    font-size: 12px;
    align-self: flex-start;
    padding-left: 12px;
    padding-top: 10px;
}

#fName, #lName{
    font-size: 16px;
    padding: 15px;
    width: 154px;
    border-radius: 5px;
    border: solid 1px rgb(93,93,93);
    margin: 5px;
}

#radf{
    margin-left: 31px;
}

#radm{
    margin-left: 45px;
}

#rado{
    margin-left: 43px;
}

#female {
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(93,93,93);
    width: 108px;
    padding: 10px 0px 10px 10px;
    margin-left: 6px;
    align-self: flex-start;
}

#male {
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(93,93,93);
    width: 98px;
    padding: 10px;
    margin-left: 10px;
}

#other {
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(93,93,93);
    width: 100px;
    padding: 10px;
    margin-left: 8px;

}

#month, #day, #year{
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    border: solid 1px rgb(93,93,93);
    margin: 5px;
}
