<!DOCTYPE html>
<html>
    <head>
        <title>Showoof Login</title>
        <link rel="stylesheet" href="css/showoof.css">
    </head>
    <body>
        <main>
            <div id="login">
                <div id="logo">Showoof</div>
                <div id="loginbox">
                    <div id="logintext">Log into Showoof</div>
                    
                    <form action="/login" method="POST">
                        <div><input type="email" id="email" name="email" placeholder="Email" required></div>
                        <div><input type="password" id="pass" name="password" placeholder="Password" required></div>
                        <div id="remember-container">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember me</label>
                        </div>
                        <div id="error-msg"><%= messages.error %></div>
                        <div><button type="submit" id="loginbutton" value="1">Log In</button></div>
                    </form>

                    <div class="flex">
                        <div id="line"></div>
                        <div id="or">or</div>
                        <div id="line"></div>
                    </div>
                    <a href="/register" role="button"><div id="account">Create new account</div></a>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
