<!DOCTYPE html>
<html>
    <head>
        <title>Showoof Login</title>
        <link rel="stylesheet" href="css/showoof.css">
    </head>
    <body>
        <main>
            <div id="login">
                <div id="logo">Showoof</div>
                <div id="loginbox">
                    <div id="logintext">Log into Showoof</div>
                    <div><input type="text" id="email" placeholder="Email or phone number"></div>
                    <div><input type="password" id="pass" placeholder="Password"></div>
                    <a href="/" role="button"><div><button type="submit" id="loginbutton" value="1">Log In</button></div></a>
                    <div class="flex">
                        <div id="line"></div>
                        <div id="or">or</div>
                        <div id="line"></div>
                    </div>
                    <a href="/register" role="button"><div id="account">Create new account</div></a>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
